root = true

[*.{cs,ttsql,sql,ts,tsx,js,css,scss,json,xml}]
end_of_line              = lf
charset                  = utf-8-bom
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true

[*.cs]
# Use collection initializers or expressions
dotnet_diagnostic.IDE0028.severity = none

# Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# Use collection expression for fluent (IDE0305)
dotnet_diagnostic.IDE0305.severity = none

# IDE1006: Naming Styles
#dotnet_diagnostic.IDE1006.severity = none

# Namespace does not match folder structure (IDE0130)
dotnet_diagnostic.IDE0130.severity = none

# Use primary constructor (IDE0290)
dotnet_diagnostic.IDE0290.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0007: Use explicit type
dotnet_diagnostic.IDE0007.severity = warning
csharp_style_var_for_built_in_types =  true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion