root = true

[*.{cs,ttsql,sql,ts,tsx,js,css,scss,json,xml}]
end_of_line              = lf
charset                  = utf-8-bom
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true

[*.cs]
# IDE1006: Naming Styles
#dotnet_diagnostic.IDE1006.severity = none

# Namespace does not match folder structure (IDE0130)
dotnet_diagnostic.IDE0130.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
